.submission, #submission_upload {
	display: flex;
	border: 1px solid black;
	border-radius: 3px;
	padding: 20px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	margin: 0 auto;
	margin-bottom: 1em;
	background-color: rgba(255,255,255,0.8);
	width: 95%;
}
.submission img {
	width: 100px;
}
.submission_text {
	flex: 1;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
}
.submission_title {
	font-size: 1.3em;
	font-weight: bold;
}
p {
	margin: 2px;
}
.tags {
	margin: 0.3em 0;
}
.tag {
	background-color: darkgray;
	padding: 0.1em 0.4em;
	border-radius: 5px;
	font-size: 0.9em;
	line-height: 1.6em;
	white-space: nowrap;
	cursor: pointer;
}
body {
	font-family: "Roboto";
	margin: 0;
	background-image: url("backgrounds/kemija.jpg");
	background-attachment: fixed;
  background-position: center top;
	background-size: cover;
}
#banner	{
	display: flex;
	justify-content: space-between;
	height: 160px;
	background-color: rgba(0,0,0,.5);
	background: linear-gradient(to right, white, white, rgba(0,0,0,.5), rgba(0,0,0,.5))
}
#header {
	color: black;
	font: Helvetica;
}
a.submission_title {
	text-decoration: none;
	color: black;
}
main {
	display: flex;
	justify-content: space-around;
}
#submissions_list {
	margin-top: 1em;
	padding-bottom: 3em;
	margin-left: 25px;
}
#upload_filters {
	display: flex;
	height: 10%;
}
aside {
	position: sticky;
	top: 20px;
	border: dashed;
	margin: 25px;
	padding: 25px;
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	background-color: rgba(255,255,255,.8);
	min-width: 200px;
	height: 100%;
}
aside > * {
	margin: 10px 0;
}
select {
	width: 100%;
}
nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 50px;
}
nav a {
	color: white;
	margin: 10px;
	padding: 5px;
	font-size: 17px;
	text-decoration: none;
}
nav a:hover {
	text-decoration: underline;
}
#noresult {
	width: 50%;
	display: flex;
	justify-content: center;
}
.subject_icon {
	font-size: 5em;
	border-style: dotted;
	border-width: 3px;
	border-color: rgba(0,0,0,0.7);
	padding: 10px;
	width: 1.2em;
	text-align: center;
}
.subject_name, #upload_subject {
	text-align: center;
	font-size: 0.9em;
	position: relative;
	top: 7px;
	color: rgba(0,0,0,0.7);
}
.spacer {
	flex: 1;
}
.submission_info {
	flex: 1;
	color: rgba(0,0,0,.7);
}
p.author, p.professor {
	align-items: baseline;
}
.submission_info a {
	float: right;
	background-color: rgba(0,0,0,0.3);
	border-style: dotted;
	border-width: 2px;
	border-color: rgba(0,0,0,0.3);
	height: auto;
	width: auto;
	display: flex;
	justify-content: center;
	color: rgba(0,0,0,0.7);
	text-decoration: none;
}
.submission_info a:hover {
	text-decoration: underline;
}
/* End of index.html style. Start of upload.html */
 #upload_title {
	 font-size: 1.3em;
	 font-weight: bold;
 }
 #upload_contents {
	 display: flex;
	 flex-direction: row;
 }
 #upload_professor, #upload_author {
	 max-width: 250px;
	 display: flex;
	 flex-direction: column;
	 margin: 5px;
 }
 #upload_form {
	 display: flex;
	 justify-content: space-between;
 }
 #file-select-and-upload {
	 float: right;
	 position: relative;
	 top: 75px;
	 display: flex;
	 justify-content: center;
 }
#predmet_select {
	max-width: 100px;
}
