.submission {
	display: flex;
	border: 1px solid black;
	border-radius: 3px;
	padding: 10px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	margin: 0 auto;
	margin-bottom: 1em;
	background-color: rgba(255,255,255,0.8);
	width: 85%;
}
.submission img {
	width: 100px;
}
.text {
	flex: 1;
	margin-left: 10px;
}
.title {
	font-size: 1.3em;
	font-weight: bold;
}
p {
	margin: 2px;
}
p.author, p.professor {
	color: rgba(0,0,0,.7);
}
.tags {
	margin: 0.3em 0;
}
.tag {
	background-color: lightgray;
	padding: 0.1em 0.4em;
	border-radius: 5px;
	font-size: 0.9em;
	line-height: 1.6em;
	white-space: nowrap;
	cursor: pointer;
}
body {
	font-family: "Roboto";
	margin: 0;
	background-image: url("backgrounds/kemija.jpg");
	background-attachment: fixed;
    background-position: center top;
	background-size: cover;
}
#banner	{
	display: flex;
	justify-content: space-between;
	height: 160px;
	background-color: rgba(0,0,0,.5);
}
#naslov {
	color: white;
}
#header {
	color: black;
	font: Helvetica;
}
a.title {
	text-decoration: none;
	color: black;
}
main {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#grid {
	margin-top: 1em;
	padding-bottom: 3em;
}
#details {
	width: 500px;
}
aside {
	width: 10%;
	position: -webkit-sticky;
	position: sticky;
	top: 20px;
	height: 150px;
	border: dashed;
	margin: 25px;
	padding: 25px;
	background-color: grey;
	display: flex;
	flex-direction: column;
}
#link {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 50px;
}
nav a {
	color: white;
	margin: 10px;
	padding: 5px;
	font-size: 17px;
}
